h2 {margin-top: 15px !important;}
h3 {margin-bottom: 20px !important;}
label {cursor: pointer;}
.form-control {margin: 5px 0px;}
.no-resize {resize: none;}
.btn-primary {margin: 10px 0px !important; padding: 5px 30px !important;}
.btn-secondary {padding: 5px 30px !important;}
.confirmation {color: forestgreen;}
.error {color: red;}
.admin-line {padding-top: 15px;}
.logout-title {display: inline; margin-left: 11.6%;}
.logout-button {float: right; display: inline;}
.oparational-button {margin: 0px !important;}
.edit-button {margin-right: 10px !important;}
.new-user-button {margin-top: 30px !important;}