{% extends 'base.html.twig' %}

{% block body %}
    <form class="col-lg-6 offset-lg-3">
        <div class="mb-3 row">
            <div class="col-md-12 text-center">
                <h2 style="margin-top: 15px;">Bejelentkezés</h2>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-3 offset-md-3">
                <label class="form-label" for="form-user-name" style="cursor: pointer;">Felhasználónév</label>
                <input type="text" class="form-control" id="form-user-name" placeholder="Felhasználónév"/>
            </div>
            <div class="col-md-3">
                <label class="form-label pointer" for="form-password" style="cursor: pointer;">Jelszó</label>
                <input type="password" class="form-control" id="form-password" placeholder="Jelszó"/>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-12 text-center" style="margin: 10px 0px;">
                <input type="submit" class="btn btn-primary" value="Belépés" style="padding: 5px 30px;"/>
            </div>
        </div>
    </form>
{% endblock %}