h2 {margin-top: 15px !important;}
label {cursor: pointer;}
.form-control {margin: 5px 0px;}
.no-resize {resize: none;}
.btn-primary {margin: 10px 0px !important; padding: 5px 30px !important;}
.confirmation {color: forestgreen;}
.error {color: red;}