{% extends 'base.html.twig' %}

{% block title %}Belépve{% endblock %}

{% block body %}
    <div class="col-lg-6 offset-lg-3">

        <div class="mb-3 row">
            <div class="col-md-12 text-center admin-line">
                <h2 class="logout-title">Admin felület</h2>
                <a href="/logout" class="btn btn-primary logout-button">Kijelentkezés</a>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-12">
                <a href="/contacts" class="btn btn-primary">Üzenetek</a>
                <a href="/users" class="btn btn-secondary">Felhasználók</a>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-12 text-center">
                <h3>Üzenetek</h3>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Név</th>
                <th>E-mail cím</th>
                <th>Üzenet</th>
                <th>Létrehozás dátuma</th>
            </tr>
            </thead>
            <tbody>
            {% for item in form %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.message|slice(0, 50) }}</td>
                    <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}