{% extends 'base.html.twig' %}

{% block title %}Admin felület{% endblock %}

{% block body %}
    {{ form_start(form)}}
    <div class="col-lg-6 offset-lg-3">

        <div class="mb-3 row">
            <div class="col-md-12 text-center admin-line">
                <h2 class="logout-title">Admin felület</h2>
                <a href="/users" class="btn btn-primary logout-button">Vissza</a>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-12 text-center">
                <h3>Felhasználó módosítása</h3>
            </div>
        </div>

        <div class="mb-4 row">
            {% for label, messages in app.flashes(['error', 'success']) %}
                {% for message in messages %}
                    <div class="confirmation-container col-md-12 text-center">
                        {% if label == "success" %}
                            <span class="confirmation">{{ message }}</span>
                        {% else %}
                            <span class="error">{{ message }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="mb-4 row">
            <div class="col-md-6 offset-md-3">
                {{ form_errors(form) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form.name) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form.isActive) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form.createdAt) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-12 text-center">
                {{ form_row(form.submit) }}
            </div>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}