{% extends 'base.html.twig' %}

{% block title %}Belépve{% endblock %}

{% block body %}
    <div class="col-lg-6 offset-lg-3">

        <div class="mb-3 row">
            <div class="col-md-12 text-center admin-line">
                <h2 class="logout-title">Admin felület</h2>
                <a href="/logout" class="btn btn-primary logout-button">Kijelentkezés</a>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-12">
                <a href="/contacts" class="btn btn-secondary">Üzenetek</a>
                <a href="/users" class="btn btn-primary">Felhasználók</a>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-12 text-center">
                <h3>Felhasználók</h3>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Név</th>
                    <th>E-mail cím</th>
                    <th>Státusz</th>
                    <th>Létrehozás dátuma</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
            {% for item in form %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    {% if item.isActive == true %}
                        <td>Aktív</td>
                    {% else %}
                        <td>Inaktív</td>
                    {% endif %}
                    <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="/edit-user/{{ item.id }}" class="btn btn-primary oparational-button edit-button">Szerkesztés</a>
                        <button type="button" class="btn btn-primary oparational-button btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal" id="{{ item.id }}">Törlés</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="/add-user" class="btn btn-primary new-user-button">Új felhasználó felvétele</a>

    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Törlés megerősítése</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Biztos, hogy törölni szeretné ezt az elemet?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
                    <a href="" class="btn btn-danger oparational-button" id="delete-button">Törlés</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}